* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b2025;
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    color: #ddd;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90vw;
    height: 100vh;
    text-shadow: 0 0 0.2rem black;
    gap: 2rem;
    padding: 1rem;
}

h1 {
    font-weight: 700;
    text-align: center;
}

.container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.buttons {
    flex-direction: row;
    height: 32%;
    max-height: calc(80vw / 3.3);
}

.btn {
    background: #1c1c1d;
    border: 1px solid gray;
    border-radius: 0.25rem;
    cursor: pointer;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    transition: 0.2s;
    aspect-ratio: 1;
}

.btn:hover {
    box-shadow: 0 0 0.5rem rgb(97, 252, 252);
    transition: 0.2s;
}

.rock {
    background-image: url("./image/rock.jfif");
}

.paper {
    background-image: url("./image/paper.jfif");
}

.scissors {
    background-image: url("./image/scissorss.jfif");
}

#rounds {
    font-family: 'Fira Mono', monospace;
}

.round-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.circle {
    width: 5.1vh;
    height: 5.1vh;
    background: gray;
    border-radius: 50%;
    transition: 0.2s;
}

#results {
    font-size: 1.7rem;
}

.game-score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    margin: 0 1rem;
    height: 4rem;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border: 1px solid gray;
}

#player-score {
    border-radius: 0.25rem 0 0 0.25rem;
}

#computer-score {
    border-radius: 0 0.25rem 0.25rem 0;
}

.player-container {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.player {
    width: 5rem;
    padding: 0.7rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    transition: 0.5s;
}

.log {
    height: 1rem;
    margin: -1rem auto;
    font-size: 1.2rem;
}

.final-result {
    height: 1rem;
}

@media (max-width: 768px) {
    .circle {
        width: 4vh;
        height: 4vh;
    }
}

@media (max-width: 580px) {
    .player-container {
        flex-direction: column;
        position: relative;
        padding: 0 1rem;
    }

    .player-container:last-child {
        flex-direction: column-reverse;
    }

    .choice {
        position: absolute;
        top: 5.5rem;
    }

    #player-choice {
        left: 4.8rem;
    }

    #computer-choice {
        right: 4.8rem;
    }

    .final-result {
        margin-top: 6rem;
    }
}

@media (max-width: 320px) {
    .log {
        font-size: 5vw;
    }

    .player {
        width: 20vw;
    }

    .choice {
        margin: 0 -0.5rem;
    }

    .final-result {
        font-size: 8vw;
    }
}
